<header>
</header>
<div class="container">
	<form>
		<nav class="nav nav-pills nav-justified">
			<ul class="step">
				<li class="step-item"
					*ngFor="let step of steps"
					[ngClass]="steps[activeStep] === step ? 'active': ''">
					<a class="tooltip" 
					   [attr.data-tooltip]="step"
					   (click)="stepTo(step)">
						<span class="sr-only">{{step}}</span>
					</a>
				</li>
			</ul>
		</nav>
		
		<div class="step-panel recipes" *ngIf="steps[activeStep]==='recipes'">
			<h1>Recipes</h1>
			<div class="form-group">
				<input type="text" class="form-control" name="recipe" 
					[(ngModel)]="activity.recipe" 
					(keyup.enter)="selectRecipe($event.target.value)" />
			</div>
			<div class="form-group" *ngFor="let recipe of ['food', 'suburi', 'weight']">
				<button type="button" class="btn btn-primary" (click)="selectRecipe(recipe)">{{recipe}}</button>
			</div>
		</div>
		<div class="step-panel amount" *ngIf="steps[activeStep]==='amount'">
			<h1>Amount</h1>
			<div class="form-group">
				<input type="text" class="form-control" name="amount" 
					[(ngModel)]="activity.amount" 
					(keyup.enter)="selectAmount($event.target.value)" />
			</div>
			
		</div>
		<div class="step-panel date" *ngIf="steps[activeStep]==='date'">
			<h1>Date</h1>
			<div class="form-group">
				<input type="datetime" class="form-control" name="date" 
					[(ngModel)]="activity.date" 
					(keyup.enter)="selectRecipe($event.target.value)" />
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('today')">Today</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('morning')">Morning</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('noon')">Noon</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('evening')">Evening</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('yesterday')">Yesterday</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" (click)="selectDate('tomorrow')">Tomorrow</button>
			</div>
		</div>
	</form>
	{{activity | json}}
	<footer class="stiky bottom">
		<a class="btn btn-primary" [routerLink]="['/activity']">home</a>
	</footer>
</div>
